.mybutton{
    display: inline;
    margin: 10px 10%;
    background-color: #60BC57;
    min-width: 180px;
    line-height: 30px;
    padding: 7px 0 3px;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
}