.merctable, th, td, thead, tbody {
    border: 1px solid gray;
    width: 50%;
    margin: 0 auto;

    
}

 .merctable thead {
    background-color: lightgray;
}

.merctable th {
    text-align: center;
}

h1{
    text-align: center;
}