.mytable, th, td, thead, tbody {
    border: 1px solid gray;
    width: 50%;
    margin: 0 auto;

    
}

 .mytable thead {
    background-color: lightgray;
}

.mytable th {
    text-align: center;
}




