<!--
    <div class = "my-merc">
    <table class="mytable">

        <thead>
            <tr>
                <th>Marke</th>
                <th>Preis</th>
            </tr>
        </thead>
        <div *ngFor="let entry of autos">
            <tbody>
                <th>{entry.marke}</th>
                <th>{entry.preis}</th>
            </tbody>
        </div>
    </table>

    <div>
        <button class="mybutton">KlickMe1</button>
        <button class="mybutton">KlickMe2</button>
        <button class="mybutton">KlickMe3</button>
    </div>


</div>
-->